<section class="container">
 <h1 style="text-align: center;"><i><strong>ShopGrocery</strong></i></h1>
 <br><br>
 <div class="row offset-lg-3">
  <div class="col-sm-4">
   <div class="card">
    <div class="card-body">
     <h5 class="card-title">Seller Portal</h5>
     <p class="card-text">This is the seller portal where seller can register and login. After login they can add the
      products available in their store.</p>
     <a class="btn btn-primary" routerLink="login_seller">Login</a>
     <a class="btn btn-primary" routerLink="register_seller" style="float: right;">Register</a>
    </div>
   </div>
  </div>
  <div class="col-sm-4">
   <div class="card">
    <div class="card-body">
     <h5 class="card-title">Customer Portal</h5>
     <p class="card-text">This is the customer portal where customer can register and login. After login, customer can
      login and buy products from nearby stores.</p>
     <a class="btn btn-primary" routerLink="login_customer">Login</a>
     <a class="btn btn-primary" routerLink="register_customer" style="float: right;">Register</a>
    </div>
   </div>
  </div>
 </div>
 <br><br><br><br>
</section>