<h3 style="text-align: center;"><strong>Products Available in Store : <strong>{{store.storeName}}</strong></strong></h3>
<div class="input-group" style="margin-top: 50px;">
 <div class="form-outline offset-lg-5">
  <input id="search-input" placeholder="Search for products..." type="search" id="form1" class="form-control" />
 </div>
 <button id="search-button" type="button" class="btn btn-primary">
  <i class="fas fa-search"></i>
 </button>
</div>
<!-- <div class="container row offset-1" style="margin-top: 4px">
 <div class="col-md-3" *ngFor="let product of productsList" style="margin-top:15px;">
  <div class="card" style="width: 18rem; margin:10px 100px 100px 100px; height:30rem;">
   <div class="cart-body" style="margin:5px;">
    <img class="card-img-top" [src]="imagePathList" alt="Card Image" />
    <p><strong>{{product.productName}}</strong></p>
    <p class="card-text"> <strong>Category: </strong> {{product.category}}</p>
    <p class="card-text"> <strong>Available Quantity: </strong> {{product.availableQuantity}}</p>
   </div>
   <div class="row">
    <div class="col">
     <div>
      <p class="card-text"><strong> Price: </strong>{{product.price | currency:'INR'}}</p>
     </div>
    </div>
    <br>

   </div>
   <div class="row">
    <div class="col">
     <p class="card-text"><strong>Created Date: </strong></p>
     <p class="card-text">{{product.createdDate}}</p>
    </div>
    <div class="col" style="float: right;">
     <p class="card-text"><strong>Expiry Date: </strong></p>
     <p class="card-text">{{product.expiryDate}}</p>
    </div>
   </div>
   <div class="row">
    <div><button class="btn btn-primary" style="float: right;">Buy</button></div>
   </div>
  </div>
 </div>
</div> -->